# Obtén y conoce tus datos



### 1. Importa las librerías necesarias

In [1]:
import numpy as np
import pandas as pd

### 2. Importa el dataset de este [enlace](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) y guárdalo en una variable llamada users. Usa pd.read_csv()

In [2]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [4]:
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### 3. Muestra las 25 primeros registros

In [3]:
print(users.head(25))

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

### 4. Muestra las 25 primeros registros de otra forma

In [7]:
# Para eso usamos slicing
print(users[:25])

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

### 5. Muestra los últimos 25 registros

In [ ]:
# para eso usamos tail
print(users.tail(25))

     user_id  age gender     occupation zip_code
918      919   25      M          other    14216
919      920   30      F         artist    90008
920      921   20      F        student    98801
921      922   29      F  administrator    21114
922      923   21      M        student    E2E3R
923      924   29      M          other    11753
924      925   18      F       salesman    49036
925      926   49      M  entertainment    01701
926      927   23      M     programmer    55428
927      928   21      M        student    55408
928      929   44      M      scientist    53711
929      930   28      F      scientist    07310
930      931   60      M       educator    33556
931      932   58      M       educator    06437
932      933   28      M        student    48105
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### 6. Cuántos registros hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

In [ ]:
# Registros totales del dataset
# Obtener el número total de registros (filas)
# Usamos el método shape
total_registros = users.shape[0]

# Mostrar el total de registros
print(total_registros)

# users.shape: Devuelve una tupla (n_filas, n_columnas).
#users.shape[0]: Accede al primer valor de la tupla, que es el número de filas (es decir, el total de registros).

943

In [ ]:
# Usando len
# Obtener el número total de registros usando len()
total_registros = len(users)

# Mostrar el total de registros
print(total_registros)

# len(users): Devuelve el número de filas en el DataFrame, que es equivalente a contar el total de registros.

943

### 7. Cuántas columnas hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

In [11]:
# Usando columns

# Obtener los nombres de las columnas
columnas = users.columns

# Mostrar los nombres de las columnas
print(columnas)

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [13]:
# Hacemos una lista
# Convertir los nombres de las columnas a una lista
columnas_lista = list(users.columns)

# Mostrar la lista de columnas
print(columnas_lista)

['user_id', 'age', 'gender', 'occupation', 'zip_code']

### 8. Haz un print de cada uno de los nombres de las columnas

In [ ]:
# Se puede hacer con un for 
# Recorrer y imprimir cada nombre de las columnas
for columna in users.columns:
    print(columna)

user_id
age
gender
occupation
zip_code

### 9. Accede al índice, a los nombres de las columnas y a los valores por separado

In [ ]:
# Acceder al índice del DataFrame
indice = users.index # devuelve un objeto Index que contiene las etiquetas de las filas del dataset

# Mostrar el índice
print(indice)

RangeIndex(start=0, stop=943, step=1)

In [ ]:

# Acceder a los nombres de las columnas
columnas = users.columns

# Mostrar los nombres de las columnas
print(columnas)

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [ ]:
# Con values, accedemos a los valores
valores = users.values
print(valores)

[[1 24 'M' 'technician' '85711']
 [2 53 'F' 'other' '94043']
 [3 23 'M' 'writer' '32067']
 ...
 [941 20 'M' 'student' '97229']
 [942 48 'F' 'librarian' '78209']
 [943 22 'M' 'student' '77841']]

### 10. Cuál es el tipo de cada columna del dataset?
Hazlo de dos formas diferentes

In [21]:
# Se puede saber el tipo con dtypes
print(users.dtypes)

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [22]:
# La otra forma de saber el tipo es con info

users.info

<bound method DataFrame.info of      user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]>

### 11. Haz un print solo de la columna de occupation
Hazlo de dos formas diferentes

In [ ]:
# primera forma, accediendo directamente a la columna ["occupation"]
print(users["occupation"])

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

In [25]:
# La otra forma, usando la notación del punto. (No funciona si el nombre de la columna tiene espacios o caracteres especiales.)

print(users.occupation)

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### 12. ¿Cuántas profesiones diferentes hay? ¿Y personas por profesión?

In [ ]:
# Para contar las profesiones, voy a usar el método nunique, que cuenta los valores únicos en la columna

# Contar el número de profesiones diferentes
num_profesiones = users["occupation"].nunique()
print(f"Hay {num_profesiones} profesiones diferentes.")

Hay 21 profesiones diferentes.

In [27]:
# Para contar las personas por profesión, usaremos value_counts,que devuelve una serie con cada profesión y el número de veces que aparece en el dataset.

personas_por_profesion = users["occupation"].value_counts()
print(personas_por_profesion)

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### 13. ¿Cuál es la profesión más común?

In [28]:
# Para obtener la profesión más común, usamos :
# users["occupation"].value_counts() = cuenta cuántas veces aparece cada profesión.
#.idxmax()= devuelve el nombre de la profesión con mayor frecuencia.
profesion_mas_comun = users["occupation"].value_counts().idxmax()
print(f"La profesión más común es: {profesion_mas_comun}")

La profesión más común es: student

### 14. Obtén un resumen de las principales medidas estadísticas de las variables numéricas.  Usa describe()

In [30]:
# Resumen estadístico de las variables numéricas:
# .describe() calcula estadísticas solo para las columnas numéricas (int64, float64).
# Devuelve métricas como media, desviación estándar, mínimo, percentiles y máximo.

resumen_estadistico = users.describe()
print(resumen_estadistico)

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### 15. Obtén un resumen de las principales medidas estadísticas de todas las variables.  Usa describe()

In [ ]:
# Resumen estadístico de todas las variables (numéricas y categóricas)
# include="all" → Hace que .describe() muestre estadísticas tanto para variables numéricas como categóricas.
# Si hay columnas con datos de tipo object (texto), mostrará métricas específicas para ellas.
resumen_completo = users.describe(include="all")
print(resumen_completo)

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

### 16. Obtén un resumen de las principales medidas estadísticas de solo la columna occupation.  Usa describe()

In [ ]:
# Resumen estadístico solo para la columna "occupation"
# users["occupation"].describe() devuelve estadísticas solo de esa columna.
resumen_occupation = users["occupation"].describe()
print(resumen_occupation)

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 17. ¿Cuál es la edad media?

In [38]:
# Calcular la edad media, usaremos mean, para que calcule la media aritmética de la columna "age"
edad_media = users["age"].mean()
print(f"La edad media es: {edad_media:.2f}")

La edad media es: 34.05

### 18. ¿Cuál es la edad menos frecuente?

In [40]:
# Obtener la edad menos frecuente
# Con value_counst, cuenta cuántas veces aparece cada valor único en la columna
# Y con idxmin, devolvemos el valor que tiene la menor cantidad de ocurrencias en el conteo
edad_menos_frecuente = users["age"].value_counts().idxmin() 
print(f"La edad menos frecuente es: {edad_menos_frecuente}")

La edad menos frecuente es: 7