# Ex - GroupBy

In [83]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [84]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

drinks = pd.read_csv(url)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [85]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [86]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [87]:
drinks.fillna("SA", inplace=True)

drinks.info

<bound method DataFrame.info of          country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]>

### Step 4. Which continent drinks more beer on average?

In [88]:
# Tenemos que calcular qué continente consume más cerveza de promedio, agrupamos por continentes 
# y seleccionamos la columna beer_serving y hayamos la media con mean

drinks.groupby("continent")["beer_servings"].mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    155.600000
Name: beer_servings, dtype: float64

In [89]:
# con el idxmax nos especifica cual es el continente
drinks.groupby("continent")["beer_servings"].mean().idxmax()

'EU'

### Step 5. For each continent print the statistics for wine consumption.

In [90]:
# groupby("continent") agrupa el DataFrame por la columna de continente.
# ["wine_servings"] selecciona los datos de consumo de vino.
# .describe() calcula estadísticas descriptivas para el consumo de vino de cada continente, 
# como el promedio, el mínimo, el máximo y los cuartiles.
drinks.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          35.0   37.514286  58.231471  1.0   4.0   11.0   40.50  221.0

In [93]:
# con mean y con idxmax hayamos cual es el que más consume vino
drinks.groupby("continent")["wine_servings"].mean().idxmax()

'EU'

### Step 6. Print the mean alcohol consumption per continent for every column

In [ ]:
# agrupamos, seleccionamos columnas, con mean hacemos el promedio
average = drinks.groupby("continent")[["beer_servings", "spirit_servings", "wine_servings", "total_litres_of_pure_alcohol"]].mean()
round(average, 3) #  redondeamos el resultado a tres decimales

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.472,16.340,16.264,3.008
AS,37.045,60.841,9.068,2.170
EU,193.778,132.556,142.222,8.618
OC,89.688,58.438,35.625,3.381
SA,155.600,148.257,37.514,6.103

### Step 7. Print the median alcohol consumption per continent for every column

In [98]:
# agrupamos, seleccionamos columnas, con median hacemos la mediana
average = drinks.groupby("continent")[["beer_servings", "spirit_servings", "wine_servings", "total_litres_of_pure_alcohol"]].median()
round(average, 3) #  redondeamos el resultado a tres decimales

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,159.0,124.0,11.0,6.30

### Step 8. Print the mean, min and max values for spirit consumption per continent.

In [ ]:
# Agrupar por continente y calcular el promedio, mínimo y máximo 
spirit_consumption = drinks.groupby("continent")["spirit_servings"].agg(["mean", "min", "max"])

round(spirit_consumption, 3)

              mean  min  max
continent
AF          16.340    0  152
AS          60.841    0  326
EU         132.556    0  373
OC          58.438    0  254
SA         148.257   25  438