In [ ]:
import pandas as pd
import sqlite3

## DataFame a BD sql

[pandas.DataFrame.to_sql](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html)

## SUBQUERIES

# Resolución ejercicio

In [6]:
import pandas as pd
import sqlite3
import os

In [7]:
os.getcwd()

'c:\\Users\\nsara\\Desktop\\naiara_thebridge\\2503_dsft_thebridge_naiara\\2-Data_Analysis\\8-BBDD\\SQL\\Teoria\\SQL_Python\\ejercicio'

In [8]:
# Conectamos con la base de datos chinook.db
connection = sqlite3.connect("data/my_database2.db")

# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = connection.cursor()

In [9]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [ ]:
# 1 
query = '''
INSERT INTO cerveza VALUES ("03")
'''

df = sql_query(query)
df